<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CERT_PATH</key>
	<string>/path/to/push_cert.p12</string>
	<key>CERT_PASS</key>
	<string>secure</string>
	<key>TOKEN</key>
	<string>86da0761d2f2b50e816109c0d9ac79b8efbcb9f33ea01248ed3d3aba3c59a224</string>
	<key>TOPIC</key>
	<string>com.push.example</string>
</dict>
</plist>
