<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KEY_PATH</key>
	<string>/Users/polyitan/Keys/AuthKey_VJ6A9HP27Z.p8</string>
	<key>KEY_ID</key>
	<string>VJ6A9HP27Z</string>
	<key>TEAM_ID</key>
	<string>TV65C39GBR</string>
	<key>TOKEN</key>
	<string>9cb7c6f3dc035179a53a0bf0f45947108137fd46fabcdf6737dfe2ad4c6a429a</string>
	<key>TOPIC</key>
	<string>com.polyitan.push</string>
</dict>
</plist>
